/* Estilos para el modal flash */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease;
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
  }
  
  .modal-header,
  .modal-footer {
    padding: 10px;
  }
  
  .modal-header {
    border-bottom: 1px solid #eee;
  }
  
  .modal-footer {
    border-top: 1px solid #eee;
    text-align: right;
  }
  
  .btn,
  .close-btn {
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    background-color: #007BFF;
    color: white;
    font-size: 14px;
    margin: 5px;
  }
  
  .btn:hover,
  .close-btn:hover {
    background-color: #0056b3;
  }
  

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
button {
    padding: 8px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}

.alert-hidden {
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.alert-visible {
    opacity: 1;
    transition: opacity 0.8s ease-in;
}

.alert {
    transition: opacity 0.8s ease-out;
  }
  
