{% extends "base.html" %}

{% block title %}
  Libreta de Direcciones
{% endblock %}

{% block content %}
  <h2>Bienvenido a la Libreta de Direcciones</h2>
  <p>Seleccione una opción:</p>
  <div class="mt-4">
    <!-- Botón para agregar un contacto -->
    <a href="{{ url_for('add') }}" class="btn btn-success btn-lg">
        <i class="fas fa-plus-circle"></i> Agregar Contacto
    </a>

    <!-- Botón para ver los registros -->
    <a href="{{ url_for('view') }}" class="btn btn-dark btn-lg">
        <i class="fas fa-list"></i> Ver Registros
    </a>
</div>

  <div class="mt-4">
    <h3>Instrucciones</h3>
    <p>Utilice los botones de arriba para agregar un nuevo contacto o ver los registros existentes.</p>
  </div>

  <div class="mt-4">
    <h3>Notas</h3>
    <p>Esta es una aplicación simple de libreta de direcciones. Puede agregar, editar y eliminar contactos.</p>
  </div>

  <!-- Botón para volver al inicio -->
  <button onclick="window.location.href='/'" class="btn btn-secondary mt-4">🏠 Volver al inicio</button>

{% endblock %}
