
{% block title %}
  Libreta de Direcci
  <div class="welcome-container">
    <h1>Bienvenido a la Libreta de Contactos</h1>
    <p>Administra y visualiza tus registros de manera eficiente</p>

    <!-- Sección de botones -->
    <div class="mt-4">
        <a href="{{ url_for('add') }}" class="btn btn-success">
            <i class="fas fa-user-plus"></i> Agregar Contacto
        </a>

        <a href="{{ url_for('view') }}" class="btn btn-dark">
            <i class="fas fa-list"></i> Ver Registros
        </a>
    </div>
  </div>

{% endblock %}
