<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Registros</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Registros en la Libreta</h1>
    </header>
    <main>
        <!-- Mostrar mensaje si no hay registros -->
        {% if registros %}

        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Buscar por nombre o apellido">
            <button type="submit">Buscar</button>
        </form>
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Grado</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                </tr>
            </thead>
            <tbody>
                {% for contacto in registros %}
                <tr>
                    <td>{{ contacto[0] }}</td>  <!-- ID -->
                    <td>{{ contacto[1] }}</td>  <!-- Grado -->
                    <td>{{ contacto[2] }}</td>  <!-- Nombre -->
                    <td>{{ contacto[3] }}</td>  <!-- Apellido -->
                    <td>{{ contacto[4] }}</td>  <!-- DNI -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No hay registros disponibles.</p>
        {% endif %}
    </main>
    <footer>
        <p>&copy; 2025 Libreta Digital</p>
    </footer>
</body>
</html>
